.conteudo {
	width: 1920px;
	height: 1080px;
	position: fixed;
	left: calc(50% - 1920px / 2);
	top: calc(50% - 1080px / 2);
	margin: auto;
	background-color: #0191bd;
	border-radius: 20px;
	padding: 2%;
	font-size: 30px;
	align-items: center;
}

@media only screen and (max-width: 768px) {

	.conteudo {
		font-size: 34px !important;
	}

	.intro-corpo {
		font-size: 40px !important;
	}

	.p-frase {
		font-size: 40px !important;
	}

	.item {
		width: 620px !important;
	}

	#obj1 {
		top: 702px !important;
		left: 835px !important;
	}

	#obj2 {
		top: 706px !important;
		left: 536px !important;
	}

	#obj3 {
		top: 705px !important;
		left: 583px !important;
	}

	#obj4 {
		top: 615px !important;
		left: 995px !important;
	}

	#obj5 {
		top: 725px !important;
		left: 477px !important;
	}

	.modal-xl {
		font-size: 20px !important;
	}

	.col-final {
		font-size: 40px !important;
	}
}

.intro {
	background-color: white;
	border-radius: 10px;
	margin: 1%;
}

.intro-corpo {
	color: #024d64;
	padding: 3%;
	text-transform: uppercase;
	font-size: 25px;
}

.drag-obj {
	padding: 5px;
	text-align: center;
	cursor: move;
	border-radius: 10px;
	margin: 1%;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px dashed #008086;
}

.drag-obj:hover {
	background-color: #0191bd;
	color: white;
	box-shadow: 1px 2px 3px rgb(14, 13, 13);
}

.opcoes {
	margin: 1%;
	background-color: #dbf1fd;
	border-radius: 20px;
}

.item {
	width: 561px;
	height: 89px;
	border-radius: 10px;
	background-color: #ff9200;
	color: white;
	display: flex;
	align-content: center;
	align-items: center;
	border: 2px dashed rgb(255, 255, 255);
	margin-inline: 3%;
}

.item p {
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.p-frase {
	margin: 1%;
	font-size: 36px;
	line-height: 2.8em;
	font-weight: bold;
}

.questoes {
	margin-top: 80px;
}

.coluna-resposta {
	margin-top: 68px;
	background-color: white;
	color: #0191bd;
	border-radius: 20px;
}

.item.acertou {
	border: #008086;
	background-color: #008086;
	border-color: #008086;
}

.item.errou {
	border: #e93535;
	background-color: #860000;
}

.modal-correto {
	background-color: #0191bd;
	color: white;
	font-weight: bold;
}

.modal-errado {
	background-color: #860000;
	color: white;
	font-weight: bold;
}

.modal-xl {
	font-size: 25px !important;
}

.modal-title {
	font-size: 25px !important;
}

.btn-proximo {
	width: 467px;
	height: 103px;
	margin-top: 1%;
	font-size: 49px;
	background-color: white;
	color: #0191bd;
	border-radius: 20px;
	border: none;
}

.btn-proximo:hover {
	background-color: #005772;
	color: white;
}

.col-final {
	color: #0191bd;
	font-size: 33px;
	margin: 20px;
	background-color: white;
	border-radius: 20px;
	padding: 1%;
}

#obj1 {
	top: 596px;
	left: 660px;
}

#obj2 {
	top: 596px;
	left: 489px;
}

#obj3 {
	top: 596px;
	left: 617px;
}

#obj4 {
	top: 507px;
	left: 904px;
}

#obj5 {
	top: 596px;
	left: 423px;
}

/**********************************************************************/
/***************************** vire o celular *************************/
/**********************************************************************/

.p-paisagem {
	color: white;
	text-align: center;
}

.img-paisagem {
	max-width: 70% !important;
	height: auto;
	display: block;
}

@media only screen and (orientation: portrait) {
	.modo-smart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: fixed;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #0191bd;
		z-index: 9999999999999999999;
	}
}